<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elara</title>
   <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="image-container">
        <img src="/image/user.jpg" alt="Background Image">
        <div class="text-on-image">Elara</div>
        <p class="text-on-image">Welcome To Ai World</p>
    </div>
</body>